# opencv-python
# numpy
# matplotlib
# pandas
# lmfit
# wget
# scipy
# h5py
# ipywidgets

conda update conda
conda create --name coherenceanalysis
conda activate coherenceanalysis

conda install numpy matplotlib pandas scipy h5py ipywidgets scikit-image
conda install -c conda-forge lmfit
conda install -c conda-forge wget
conda install -c conda-forge opencv
conda update --all

pip install pyinputplus